// Site

.default{
    background-color: #ddd;
    padding-bottom: 0;
}

body.route-grid .wrap-all {
    .showGrid();

}



// .wrap-all {
//     .showGrid();
// }
//




.row {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}


.main {
    margin:0;
    padding: 0;
    overflow:hidden;

}

.article {
    margin:0;
    paddin: 0;
    img{
        margin-right:-0.5em;
    }

}



.byline {
    padding:0;
    // img {
    //
    //     margin-right: 16px;
    // }
}


// Footer
.footer-column {
    width: 33%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}


.footer {
    width: 100%;

}


.inner-wrap-footer {
    background-color: #ddd;
    margin-bottom: 0;
}

.outer-wrap-footer {
    margin-bottom: 0;
}

.site-footer {
    text-align: center;
}

//misc

.left {
    float: left;
}

.right {
    float:right;
}

a {
    color:black;
}
a:visited {
    color:black;
}

.breadcrumb {
    margin-bottom: 24px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline;

        &::after {
            content: " » ";
        }
    }
}

.next-previous {
    .next,
    .previous {
        width: 50%;
    }

    .next {
        float: right;
        text-align: right;
    }
}

.breadcrumb-wrap {

    margin-bottom: 22px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: inline;

        &::after {
            content: " » ";
        }
    }
}

.sidebar {
    //background-color: blue;
    width: 32%;
    float: left;
    margin-bottom: 1em;
}

.has-sidebar {
    min-height: 15em;
}

.article-block {
    display: inline-block;
    width:60%;

}

.right-block {
    width:23.5%;
}
