@import url(modules.less);
@import url(style.less);
@import url(layout.less);
@import url(default.less);


// body {
//     background-image: url("../img/depth2.jpg");
// }

body {
  background: url(../img/depth2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wrap-all {
    opacity: 0.8;

}

.outer-wrap-footer {
    opacity: 0.8;
}


.pBox{
    box-shadow: 10px 10px 5px #637193;
}


a {
    box-shadow: 5px 5px 5px #637193;
}
