/**
* Anax Flat theme.
*/
@import url(modules.less);


/** --------------------------------------------------------------
 *  header
 */

.site-header {
    height: 80px;
    width: 100%;
    // margin: 1em;
    overflow:hidden;
    // border-bottom: 1px solid #ddd;
    // background-image:
    //     linear-gradient(
    //         #ddd, white
    // );

}


.navbar2 {
    li {
        background-color: white;
        a {
            padding-right: 0;
            background-color: white;
            font-size: 0.8em;
        }
    }
}


.navbar2 {
    float:right;
    width:30%;
}

.site-logo-text,
.profile {
    float: left;
    width: 30%;
}

.site-logo-text {
    font-size: 2em;
    margin-top: 0.3em;

    a {
        text-decoration: none;
        color: #222;
    }
}


// navbar main
.rm-desktop li {
    background-color: white;
    float:right;
}

@navbarItemBgColor: #eee;

// navbar max
.rm-max .rm-small .rm-button {
    font-size: 1.5em;
    margin-right: 72px;
    margin-top:0;
}

.rm-mobile a {

    color:white;

}

.fa {
    margin:0;
}



.rm-small {
    li {
        margin:0;
        padding:0;

    }
}


@maxButtonFontSize: 2em;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {

    img {
        vertical-align: bottom;

    }
}


/**
 * Responsive design
 */

img {
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .site-logo-text {
     width: 40%;
    }

    .navbar2 {
     width: 50%;
    }

    .profile {
     width: 10%;
    }
}

@media screen and (max-width: 750px) {
    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .site-logo-text {
     width: 90%;
    }

    .navbar2 {
        display: none;

    }
}


/*
 * Main content
 */
.article {
    img {
        float: right;
    }

    h1 {
        font-family: sans-serif;
        font-size: 32px;
    }

    //margin: 1em;
}

.wrap-all {
    background-color: white;
}

body {
    background-color: white;
}

/*
 * Byline
 */

.byline img {
    width: 80px;
    float: left;
    margin-right: 16px;
    margin-left: -1em;
}


.columns {
    margin: 1em;
}


.footer {
    width: 100%;
}

.outer-wrap-footer {
    width: 100%;
}

.byline-text {
    margin-left: 1em;
}
